<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div align = "center">

    <h1 class = elegantshadow>Edytuj dział</h1>
    <br/>

    <form action= "#" th:action="@{/updateDzial}" th:objects = "${dzial}" method = "post">

        <table class = styled-table>
            <tr>
                <td>nr_dzialu</td>
                <td><input type = "text" th:field ="*{dzial.nr_dzialu}" readonly="readonly"></td>
            </tr>

            <tr>
                <td>nazwa_dzialu:</td>
                <td><input type = "text" th:field ="*{dzial.nazwa_dzialu}"></td>
            </tr>

            <tr>
                <td>data_powstania_dzialu:</td>
                <td><input type = "text" th:field ="*{dzial.data_powstania_dzialu}"></td>
            </tr>

            <tr>
                <td>Item Name:</td>
                <td colspan= "2"><button type = "submit">Save</button></td>
            </tr>



        </table>


    </form>

</div>
</body>
</html>