<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Klienci</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="main">Strona naszego sekretariatu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Strona Główna</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

                <li class="nav-item">
                    <form method="post" th:action="@{/index}">
                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div align="center">
    <h1 class = elegantshadow>Klienci</h1>

    <a href = "/newKlient">Dodaj nowego klienta</a>


    <table class="styled-table">

        <thread>
            <tr>
                <th>Numer klienta</th>
                <th>Numer adresu</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Płeć</th>
                <th>Numer telefonu</th>
                <th>e-mail</th>
                <th>Pesel</th>
            </tr>
        </thread>

        <tbody>
        <tr th:each = "klient : ${listKlient}">
            <td th:text = "${klient.nr_klienta}">Numer klienta</td>
            <td th:text = "${klient.nr_adresu}">Numer adresu</td>
            <td th:text = "${klient.imie}">Imie</td>
            <td th:text = "${klient.nazwisko}">Nazwisko</td>
            <td th:text = "${klient.data_urodzenia}">Data urodzenia</td>
            <td th:text = "${klient.plec}">Płeć</td>
            <td th:text = "${klient.nr_telefonu}">Numer telefonu</td>
            <td th:text = "${klient.e_mail}">e-mail</td>
            <td th:text = "${klient.pesel}">Pesel</td>
            <td>
                <a th:href="@{'/editKlient/' + ${klient.nr_klienta}}">Edytuj</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteKlient/' + ${klient.nr_klienta}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>