<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div align = "center">

    <h1 class = elegantshadow>Stwórz nowe Spotkanie</h1>
    <br/>

    <form action= "#" th:action="@{/saveSpotkanie}" th:objects = "${spotkanie}" method = "post">

        <table class = styled-table>
            <tr>
                <td>nr_spotkania</td>
                <td><input type = "text" th:field ="*{spotkanie.nr_spotkania}"></td>
            </tr>

            <tr>
                <td>nr_pracownika:</td>
                <td><input type = "text" th:field ="*{spotkanie.nr_pracownika}"></td>
            </tr>

            <tr>
                <td>nr_sali:</td>
                <td><input type = "text" th:field ="*{spotkanie.nr_sali}"></td>
            </tr>

            <tr>
                <td>data_rozpoczecia_spotkania:</td>
                <td><input type = "text" th:field ="*{spotkanie.data_rozpoczecia_spotkania}"></td>
            </tr>

            <tr>
                <td>data_zakonczenia_spotkania:</td>
                <td><input type = "text" th:field ="*{spotkanie.data_zakonczenia_spotkania}"></td>
            </tr>

            <tr>
                <td>Item Name:</td>
                <td colspan= "2"><button type = "submit">Save</button></td>
            </tr>



        </table>


    </form>

</div>
</body>
</html>